{% extends "base.html.twig" %}

{% block body %}
    <h1>Komponentenarten</h1>
    <a href="{{ url('component_kind_create') }}" class="button button--primary">Komponentenart erstellen</a>
    <table>
        <thead><tr>
            <th>Name</th>
            <th>Attribute</th>
            <th colspan="2">Interaktionen</th>
        </tr></thead>
        <tbody>
        {% for componenttype in componenttypes %}
            <tr>
                <td>{{ componenttype.getType() }}</td>
                <td>{{ componenttype.getAttributeNames() }}</td>
                <td class="table__action"><a href="{{ url('component_kind_edit', {"id": componenttype.getId()}) }}">Bearbeiten</a></td>
                <td class="table__action"><a href="{{ url('component_kind_delete', {"id": componenttype.getId()}) }}">Löschen</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p class="table__hint">Scrollbar ></p>
{% endblock %}