{% extends "base.html.twig" %}

{% block body %}
    <br>
    <a href="{{ url('room_list') }}" class="button button--white">Zur&uuml;ck zur Ansicht</a>
    <h1>Raum bearbeiten</h1>
    <form method="post" class="form">
        <dl>
            <dt>
                <label for="number">Raum-Nr:</label>
            </dt>
            <dd>
                <input name="number" id="number" value="{{ room.getNumber() }}">
            </dd>

            <dt>
                <label for="description">Raum Bezeichnung:</label>
            </dt>
            <dd>
                <input name="description" id="description" value="{{ room.getDescription() }}">
            </dd>

            <dt>
                <label for="note">Notizen:</label>
            </dt>
            <dd>
                <textarea name="note" id="note">{{ room.getNote() }}</textarea>
            </dd>
        </dl>

        <input type="submit" class="button button--primary" value="Speichern">
    </form>
    <form action="{{ url('room_delete', {"id": room.getId()}) }}" method="post" class="form">
        <input type="submit" class="button button--warning" value="Raum löschen">
    </form>
{% endblock %}
