{% extends 'base.html.twig' %}
{% block body %}
    <br>
    <a href="{{ path('component_index') }}" class="button button--white">Zur체ck zur Ansicht</a>
    <h1>Komponente erstellen</h1>
        <form action="" method="post" class="form">

            <dl>
                <dt>
                    <label for="amount">Anzahl</label>
                </dt>
                <dd>
                    <input name="amount" id="amount" type="number" value="1" min="1">
                </dd>
            </dl>

            <dl>
                <dt>
                    <label for="name">Komponentenkennung</label>
                </dt>
                <dd>
                    <input name="name" id="name">
                </dd>
            </dl>
            <dl>
                <dt>
                    <label for="room_id">Raum</label>
                </dt>
                <dd>
                    <select name="room_id" id="room_id" {% if not rooms %}disabled{% endif %}>
                        {% if not rooms %}
                            <option value="-1">Keine R채ume vorhanden</option>
                        {% endif %}
                        {% for room in rooms %}
                            <option value="{{ room.id }}">{{ room.number }} - {{ room.description }}</option>
                        {% endfor %}
                    </select>
                </dd>
            </dl>
            <dl>
                <dt>
                    <label for="buy_date">Einkaufsdatum</label>
                </dt>
                <dd>
                    <input name="buy_date" id="buy_date" type="date" value="{{ "now"|date("Y-m-d") }}">
                </dd>
            </dl>
            <dl>
                <dt>
                    <label for="warranty">Gew채hrleistungsdauer in Monaten</label>
                </dt>
                <dd>
                    <input name="warranty" id="warranty" type="number">
                </dd>
            </dl>
            <dl>
                <dt>
                    <label for="note">Notiz zur Komponente</label>
                </dt>
                <dd>
                    <textarea rows="5" name="note" id="note"></textarea>
                </dd>
            </dl>
            <dl>
                <dt>
                    <label for="producer">Hersteller</label>
                </dt>
                <dd>
                    <input name="producer" id="producer">
                </dd>
            </dl>
            <dl>
                <dt>
                    <label for="type_id">Komponentenart</label>
                </dt>
                <dd>
                    <select name="type_id" id="type_id" {% if not types %}disabled{% endif %}>
                        {% if not types %}
                            <option value="-1">Keine Komponentypen vorhanden</option>
                        {% endif %}
                        {% for type in types %}
                            <option value="{{ type.id }}">{{ type.type }}</option>
                        {% endfor %}
                    </select>
                </dd>
            </dl>
            <p class="table__hint">*Speichern um Attributwerte hinzuzuf체gen</p>
            <input type="submit" class="button button--primary" value="Erstellen" {% if not types %}disabled{% endif %}>
        </form>
{% endblock %}