{% extends 'base.html.twig' %}
{% block body %}
    <div class="wrap wrap--content">
        <main>
            <form action="" method="post" class="form">
                <h4>Komponente Bearbeiten</h4>

                <dl>
                    <dt>
                        <label for="name">Komponentenname</label>
                    </dt>
                    <dd>
                        <input name="name" id="name" value="{{ component.name }}">
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <label for="room_id">Raum</label>
                    </dt>
                    <dd>
                        <select name="room_id" id="room_id">
                            {% for room in rooms %}
                                <option value="{{ room.id }}" {% if component.roomId == room.id %}selected{% endif %}>{{ room.number }} - {{ room.description }}</option>
                            {% endfor %}
                        </select>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <label for="buy_date">Einkaufsdatum</label>
                    </dt>
                    <dd>
                        <input name="buy_date" id="buy_date" type="date">
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <label for="warranty">Gewährleistungsdauer</label>
                    </dt>
                    <dd>
                        <input name="warranty" id="warranty" type="number" value="{{ component.warrantyDuration }}">
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <label for="note">Notiz zur Komponente</label>
                    </dt>
                    <dd>
                        <textarea rows="5" name="note" id="note">{{ component.note }}</textarea>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <label for="manufacturer">Hersteller</label>
                    </dt>
                    <dd>
                        <input name="manufacturer" id="manufacturer" value="{{ component.producer }}">
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <label for="type_id">Komponentenart</label>
                    </dt>
                    <dd>
                        <select name="type_id" id="type_id" {% if not types %}disabled{% endif %}>
                            {% if not types %}
                                <option value="-1">Keine Räume vorhanden</option>
                            {% endif %}
                            {% for type in types %}
                                <option value="type.id">{{ type.type }}</option>
                            {% endfor %}
                        </select>
                    </dd>
                </dl>

                <p class="table__hint">Speichern um Attributwerte hinzuzufügen</p>

                <a href="{{ path('component_index') }}" class="button button--grey">Zurück</a>
                <a href="{{ path('component_delete', {id: component.id }) }}" class="button button--grey">Löschen</a>
                <input type="submit" class="button button--primary" value="Abschicken">
            </form>

        </main>
    </div>



{% endblock %}