{% extends 'base.html.twig' %}
{% block body %}
    <br>
    <a href="{{ path('reporting_index') }}" class="button button--white">Zurück zur Ansicht</a>
    <h1>Komponenten in Raum: "{{ room.number }}" ({{ room.description }})</h1>

    <table>
        <thead><tr>
            <th>Kennung</th>
            <th>Typ</th>
            <th>Hersteller</th>
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_AZUBI') %}
                <th></th>
            {% endif %}
        </tr></thead>
        <tbody>
            {% for component in components %}
                <tr>
                    <td style="min-width: 200px;">{{ component.name }}</td>
                    <td style="min-width: 200px;">{{ component.GetComponentType().type}}</td>
                    <td style="min-width: 200px;">{{ component.producer}}</td>
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_AZUBI') %}
                        <td><a href="{{ path('component_edit', {id: component.id}) }}">Bearbeiten</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p class="table__hint">Scrollbar ></p>
{% endblock %}